doctype html
html
  head
    meta(charset='utf-8')
    title Sequelize Server
    style.
      table {
        border: 1px solid black;
        border-collapse: collapse;
      }

      table th, table td {
        border: 1px solid black;
      }
  body
    div
      form#user-form
        fieldset
          legend Register User
          div
            input#username(type="text" placeholder="Name")
          div
            input#age(type="number" placeholder="Age")
          div
            input#married(type="checkbox")
            label(for="married") Are you married?
          button(type="submit") submit
    br
    table#user-list
      thead
        tr
          th User ID
          th Name
          th Age
          th Martial Status
      tbody
        for user in users
          tr
            td= user.id
            td= user.name
            td= user.age
            td= user.married ? 'Married' : 'Single'
    br
    div
      form#comment-form
        fieldset
          legend Comments
          div
            input#userid(type="text" placeholder="User ID(Only Number)")
          div
            input#comment(type="text" placeholder="Comment")
          button(type="submit") submit
    br
    table#comment-list
      thead
        tr
          th Comment Number
          th Name
          th Comment
          th edit
          th delete
      tbody
    script(src='/sequelize.js')